body{
    background-color: bisque;
    
}
#pai_ex2{
    width: 400px;
    height: 300px;
    background-color: brown;
    align-items: stretch;/* Estica os elemntos até prencher o container 
    /*align-items: baseline; alinha os elemtos na base do conteudo inserido
    /*justify-content: space-evenly;O espaçamento entre a borda e entre os elementos são iguais*/
    /*justify-content: space-around;O espaçamento entre a borda inicial e a borda final são o mesmo, já o espamentos entre os elementos não são o mesmo na das bordas inicias, porém são igual*/
    
    /*justify-content: space-between; O primeiro e o ultimo elemento é colado com a borda, já o espaçamento entre eles são o mesmo*/
    display: flex;
}
#pai_ex2 .tamanho{
    background-color: aquamarine;
    
}
#pai_ex2 .filho1{
    width: 60px;
    height: 60px;
}
#pai_ex2 .filho2{
    width: 60px;
    height: 100px;
}
#pai_ex2 .filho3{
    width: 60px;
    height: 80px;
}
